@import "../../app.scss";

.navbar {
  height: 100px;
  .wrapper {
    max-width: 1366px;
    margin: auto !important;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;
      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;
      img {
        height: 35px;
        width: 35px;
      }
    }
  }
}
